.button-container button {
    width: 60px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 2px;
}
.button-container button:active {
    background-color: #666;
    color: #999;
}
.button-container button:hover {
    background-color: #eee;
}