.combobox-container {
    width: 140px;
    background-color: #fff;
    display: inline-block;
    position: relative;
}

.label-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;
    color: #222;
    font-size: 15px;
    letter-spacing: -0.75px;
    padding: 10px;
    border: 1px solid #d2d2d2;
}

.dropdown {
    width: 100%;
    display: none;
}

.dropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.combo-outer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    z-index: 0;
    right: 0;
    left: 0;
    top: 0;
}

.dropdown.open {
    display: block;
}
.dropdown .combo-item-wrapper {
    background-color: #fff;
}

.combo-item {
    padding: 0 14px;
    border: 1px solid #d2d2d2;
    border-bottom: none;
    padding: 10px;
    cursor: pointer;
}
.combo-item:first-child {
    border-top: none;
}
.combo-item:last-child {
    border-bottom: 1px solid #d2d2d2;
}

.icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
}

.icon.arrow-down {
    background-image: url('../../assets/images/arrow.svg');
    transform: rotate(90deg);
}